body{
	font-family: Arial, Verdana, Tahoma, Sans-serif;
	font-size:14px;
}
IMG{border:0;}
P{margin:0;}
A{text-decoration:none;color:black;}
A:active{text-decoration:none;color:black;}
A:link{text-decoration:none;color:black;}
A:visited{color:black}
A:hover{color:#cc0000;}


.paramName{
	font-weight:bold;
}
.validation{
	font-style: italic;
	padding-left:10px;
	color:#f00;
}
.selectable{
	cursor: pointer;
}
.menu{
	cursor: pointer;
	text-decoration: underline;
}
.validation{
	color: red;
	font-style: italic;
}
.menu li{
	display: inline;
	margin-left:10px;
}

div.taskList{
	margin-left: 15px;
	border-left: 3px solid #88a;
	padding-left: 5px;
}

div.task{
	border: 1px solid #aaa;
	padding: 5px;
	margin: 2px;
	margin-left: 20px;
}

div.panel{
	margin: 5px;
	padding: 5px;
	border: 1px solid #ccc;
}

.hidden{display:none;}
.queuePos{
	color:#080;
	font-weight:bold;
}
.frozen{
	color: #ccc;
}

div.console{
	background-color:#004;
	color:#ffc;
	padding:5px;
	margin:5px;
	margin-top:80px;
}
.key{
	width:300px;
}

.dataType{
	color:#ccc;
}
span.dataType{
	margin-right:15px;
}

div.task h3{
	margin:0 5px 0 0;
	padding:0;
	float:left;
}
div.task .properties{
	margin: 2px 0 3px 0;
}
div.task ul{
	margin:3px 0 0 20px;
	padding:0;
}

h3.completed, span.completed{
	color:#ccc;
}
.completed{
	padding-left:10px;
	color: #840;
}