body{
	font-family: Arial, Verdana, Tahoma, Sans-serif;
	font-size:14px;
}
IMG{border:0;}
P{margin:0;}
A{text-decoration:none;color:black;}
A:active{text-decoration:none;color:black;}
A:link{text-decoration:none;color:black;}
A:visited{color:black}
A:hover{color:#cc0000;}



.validation{
	font-style: italic;
	padding-left:10px;
	color:#f00;
}

.menu li{
	display: inline;
	margin-left:10px;
	cursor: pointer;
	text-decoration: underline;
}

div.taskList{
	margin-left: 15px;
	border-left: 3px solid #88a;
	padding-left: 5px;
}

div.task{
	border: 1px solid #aaa;
	padding: 5px;
	margin: 2px;
	margin-left: 20px;
}

div.panel{
	margin: 5px;
	padding: 5px;
	border: 1px solid #ccc;
}

.hidden{display:none;}