.tagList {
	margin: 5px;
	padding: 5px;
}
.tagList .tag{
	cursor: pointer;
	color: #00a;
}
.tagList .tag.highlight{
	text-decoration: underline;
}
.tagList .tag.selected{
	background-color: #ff0;
}
.tagList .subcloud{
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px solid #ccc;
}
.tagList .subcloud .selected{
	background-color: #cce;
}